.column {
  &__container {
    @include flex(column, flex-start, center);
    // width: 100%;
    // padding: 1rem 0.575rem;
    padding: 1rem 0.575rem 0.2rem;
    // height: 100%;
    // background-color: var(--bg-panel-a-4);
    background-color: var(--bg-panel-a-6);
    // test only
    // background-color: brown;
    backdrop-filter: blur(1px);
    min-width: 280px;
    // width: 280px;
    margin: 0 8px 0;
    // *** 
    max-height: 100%;

    // left: auto !important;
    // top: auto !important;
    
  }
  &__card-container {
    
    // left: auto !important;
    // top: auto !important;
  }
  &__header {
    width: 100%;
    padding: 1.275rem 1rem;
    font-weight: 700;
    background-color: var(--bg-panel);
    color: var(--body-text);
    border-radius: 6px;
    margin: 0 0 0.75rem 0;
    position: relative;
  }
  &__header-menu {
    position: relative;
  }
  &__menu {
    position: relative;
  }
  &__drag-icon {
    cursor: grab;
  }
  &__title {
    // background-color: var(--bg-primary);
    // background-color: var(--primary-color);
    width: 100%;
    // @include flex(row, center, center);
    @include flex(row, flex-start, center);
    margin: 0 0 12px 0;
  }
  &__title--form {
    // background-color: aqua;
    width: 100%;
    &--form {
      // @include flex(row, center, center);
    }
  }
  
  &__options-menu .MuiPaper-root {
    border: solid 1px green !important;
    position: absolute;
    top: 50%;
    left: 50%;
    outline: none;
  }
  &__options-menu {
    .MuiPaper-root ul {
      outline: none;
    }
  }

  // &__col-lane {
  //   @include flex(column, center, center);
  //   background-color: var(--bg-primary-a-4);
  //   align-self: flex-start;
  //   border-radius: 6px;
  //   margin: 0 0.5rem 0 0;
  //   padding: 1rem 1rem 0;
  //   max-width: 21.5625rem;
  //   height: auto;
  //   max-height: 100%;
  //   transition: height 500ms ease-in-out;
  // }

  &__lane-content {
    @include flex(column, space-between, center);
    width: 100%;
    // padding: 0 0 8px 0;
    margin: 0 0 8px 0;
    // height: auto;
    // height: 75vh; // may need to do calc as it does not work we;ll for various heights
    transition: height 500ms ease-in-out;
    // overflow-y: scroll;
    overflow-y: auto;
    -ms-overflow-style: scrollbar;
    /* Internet Explorer 10+ */
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-line) var(--scrollbar-bg);
    // scrollbar-width: none;
    flex-grow: 1;

    /* Firefox */
    &::-webkit-scrollbar {
      height: 6;
      width: 6; // remove scrollbar space
      // background: transparent; // make scrollbar invisible
      // background-color: var(--scrollbar-line);
    }

    ::-webkit-scrollbar-track {
      background: rgb(34, 34, 34); /* Background of the track */
    }
    
    ::-webkit-scrollbar-thumb {
      background-color: rgb(54, 54, 54); /* Scrollbar thumb color */
      border-radius: 10px; /* Rounded corners */
    }
    
    /* Optional: to add some padding around the scrollbar thumb */
    ::-webkit-scrollbar-thumb:hover {
      background: rgb(74, 74, 74); /* Hover color */
    }

    /* Optional: show position indicator in red */
    // &::-webkit-scrollbar-thumb {
    //   baackground: #FF0000;
    // }
  }

  &__lane-scroll {
    // overflow-y: scroll;
    // overflow-y: auto;
    // -ms-overflow-style: none;
    // scrollbar-width: none;
    // scrollbar-width: thin;
    width: 100%;
    // flex-grow: 1;
    // overflow-y: auto;
    &::-webkit-scrollbar {
      height: 0;
      width: 0; // remove scrollbar space
      background: transparent; // make scrollbar invisible
      // ***
    }
  }
  &__add-card-btn-section {
    // padding: 12px 0;
    margin-top: auto;
  }
  &__add-card-btn {

  }
  &__new-lane {
    align-self: flex-start;
    margin: 0 0 0 1rem;

    .icon {
      margin: 0 0.425rem 0 0;
    }
  }
}