.detail {
  // background-color: lightblue;
  height: 100%;
  width: 100%;
  position: relative;
  &__container {
    overflow: hidden;
  }
  &__header {
    // background-color: lightgreen;
    @include flex(row, space-between, center);
  }
  &__info-box {
    padding: 1rem 1rem;
    &.left {

      // padding: 1rem 0 0 1rem;
      // height: 100%;
    }
    &.right {
      // padding: 1rem 1rem 0 0;
      // height: 100%;
      align-self: flex-start;
    }
    .buttons {
      margin: 1rem 0 0 0;
      .btn-one {
        margin: 0 0.75rem 0 0;
      }
    }
  }
  &__sub-header {
    // background-color: lightcoral;
    @include flex(row, space-between, center);
    padding: 0.275rem;
    .title {
      // background-color: yellowgreen;
    }
    .stats-container {
      // background-color: rosybrown;
    }
  }
  &__content {
    max-width: 1280px;
    margin: 0 auto;
    // background-color: lightgray;
    @include flex(row, space-evenly, flex-start);
    height: 100%;
    padding: 1.5rem 1rem 0.275rem;
    &.my-content {
      @include flex(column, flex-start, flex-start);
    }
    .left {
      width: 100%;
      max-width: 26.25rem;
      // height: 100%;
      // max-height: 26.25rem;
      .text-area {
        width: 100%;
        max-width: 400px;
        resize: none;
        height: 2rem;
        padding: 0.75rem 0.5rem;
      }
    }
    .right {
      width: 100%;
      margin: 0 0 0 0.75rem;
      flex-shrink: 3;
      @include flex(row, flex-end, center);
      .list-header {
        margin: 0 0 1rem 0;
        padding: 0.25rem 0.5rem;
      }
      .ticket-uploader {
        padding: 0.75rem 0.5rem;
      }
      .right-container {
        max-width: 35.5rem;
      }
    }
  }
  &__items-list {
    max-height: 50vh;
    overflow-y: scroll;
    scrollbar-width: none;
    // row-gap: 1rem;
    // width: 100%;
    // max-width: 420px;
    // height: 100%;
  }
  &__description {
    // max-width: 400px;
    padding: 0.75rem 0.5rem;
    overflow-y: scroll;
    height: 100%;
    max-height: 26.25;
    scrollbar-width: none;
  }
  &__actions {
    margin: 1.4rem 0 1.2rem 0;
    button {
      &:first-child {
        margin: 0 0 0.75rem 0;
      }
    }
    // &.comment {
    //   @include flex(row, space-between, center);
    //   margin: 1.4rem 0 0;
    //   button {
    //     &:first-child {
    //       margin: initial;
    //     }
    //   }
    // }
    .btn-icon {
      margin: 0 0.5rem 0 0;
    }
  }
  &__secondary-content {
    background-color: lightcoral;
  }
  // ------------------
  // ------------------
  &__option-container {
    // width: 100%;
    border: 1px solid blue;
    @include flex(row, flex-end, center);
    flex-wrap: wrap;
    .option-group {
      &.one {
        @include flex(row, space-around, center);
        // background-color: lawngreen;
        margin: 0.75rem 0 0 0;
        .items {
          @include flex(row, space-around, center);
          margin: 0 0 0 16px;
          .select-menu {
            margin: 0 0 0 0.35rem;
          }
          .order-by-options {
            margin: 0 0 0 0.35rem;
            .option {
              cursor: pointer;
              border: 1px solid blue;
              border-radius: 3px;
              padding: 6px 8px;
              &.active {
                color: white;
                background-color: aquamarine;
                border-color: white;
              }
            }
            .option:nth-child(2) {
              margin: 0 0 0 0.35rem;
            }
          }
        }
      }
      &.two {
        @include flex(row, center, center);
        margin: 0.25rem 0 0.25rem 0;
        // background-color: firebrick;
        .items {
          .select-menu {
            // border: 1px dotted orangered;
            // div {
              // padding: 0.5 14px 0.5 14px;
            // }
          }
          .form-control {
            // background-color: chartreuse;
          }
          .input-label {
            // background-color: olivedrab;
          }
        }
      }
      &.three {
        // background-color: darkblue;
        @include flex(row, center, center);
      }
    }
  }
  // ------------------
  // ------------------
  &__roster {
    width: 100%;
  }
  &__roster-header {
    &.my-project {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      // grid-template-rows: repeat(2, 1fr);
      border-bottom: 2px solid black;
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      width: 100%;
      background-color: goldenrod;
    }
    &.my-ticket {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      // grid-template-rows: repeat(2, 1fr);
      border-bottom: 2px solid black;
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      width: 100%;
      background-color: goldenrod;
    }
  }
  &__roster-row {
    &.my-project {
      padding: 1rem 0;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      width: 100%;
    }
    &.my-ticket {
      padding: 1rem 0;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      width: 100%;
    }
  }
  // &__roster-item-group {}
  &__roster-item {
    @include flex(column, flex-start, flex-start);
    .option-link {
      &:first-child {
        margin: 0 0 0.4rem 0;
      }
    }
  }
}
// --------------------
// --------------------
// --------------------

// @media (min-width: 380px) {
//   .detail {
//     &__content {
//       // max-width: 680px;
//     }
//   }
// }
@media (min-width: 420px) {
  .detail {
    &__content {
      // max-width: 680px;
    }
  }
}
@media (min-width: 560px) {
  .detail {
    &__container {
      padding: 0 0 0 62px;
    }
  }
}
@media (min-width: 660px) {
  .detail {
    &__content {
      // max-width: 680px;
    }
  }
}
@media (min-width: 720px) {
  .detail {
    &__content {
      // max-width: 680px;
    }
  }
}
@media (min-width: 960px) {
  .detail {
    &__content {
      max-width: 820px;
    }
  }
}
@media (min-width: 1080px) {
  .detail {
    &__container {
      padding: initial;
    }
    &__content {
      // max-width: 960px;
      max-width: initial;
    }
  }
}
@media (min-width: 1300px) {
  .detail {
    &__content {
      max-width: 1280px;
    }
  }
}
@media (min-width: 1444px) {
  .detail {
    &__content {
      margin: initial;
    }
  }
}