.detail {
  // background-color: lightblue;
  height: 100%;
  width: 100%;
  position: relative;
  &__container {
    overflow-y: auto;
    // margin: 0 0 2rem 0;
    padding: 0 0 3rem 0;
  }
  &__header {
    max-width: 1280px;
    // background-color: lightgreen;
    @include flex(row, space-between, center);
  }
  &__info-box {
    padding: 1rem 1rem;
    &.left {

      // padding: 1rem 0 0 1rem;
      // height: 100%;
    }
    &.right {
      // padding: 1rem 1rem 0 0;
      // height: 100%;
      align-self: flex-start;
    }
    .buttons {
      margin: 1rem 0 0 0;
      // cursor: pointer;
      @include flex(row, space-evenly, center);
      .btn-one {
        // cursor: pointer;
        margin: 0 0.75rem 0 0;
      }
    }
  }
  &__sub-header {
    // background-color: lightcoral;
    @include flex(row, space-between, center);
    max-width: 1280px;
    // padding: 0.275rem;
    padding: 0.275rem 1rem;
    .title {
      // background-color: yellowgreen;
    }
    .stats-container {
      // background-color: rosybrown;
    }
    & > div {
      margin: 0 0.8rem;
    }
  }
  &__content {
    max-width: 1280px;
    margin: 0 auto;
    // background-color: lightgray;
    @include flex(column, space-evenly, flex-start); // ---
    // height: 100%;
    // height: 70vh;
    padding: 1.5rem 1rem 0.275rem;
    &.my-content {
      // background-color: var(--primary-color);
      // padding: 0 1rem 0.275rem; // ---
      padding: initial;
      @include flex(column, flex-start, flex-start);
    }
    .left {
      width: 100%;
      // max-width: 26.25rem;
      // max-width: 44%;
      // height: 100%;
      // max-height: 26.25rem;
      .text-area-paper {
        background-color: var(--primary-color);
      }
      .text-area {
        width: 100%;
        max-width: 400px;
        resize: none;
        height: 2rem;
        padding: 0.75rem 0.5rem;
        background-color: var(--primary-color);
        border: none;
        color: var(--body-text);
        font-family: inherit;
      }
    }
    .right {
      width: 100%;
      // margin: 0 0 0 0.75rem;
      flex-shrink: 3;
      @include flex(row, flex-end, center);
      &.project-detail {
        @include flex(column, center, center);
      }
      .list-header {
        margin: 0 0 1rem 0;
        // padding: 0.25rem 0.5rem;
        padding: 0.56rem 0;
        &.paper {
          background-color: var(--primary-color);
          width: 100%;
          height: 100%;
          text-align: center;
        }
      }
      .ticket-uploader {
        padding: 0.75rem 0.5rem;
      }
      .right-container {
        // max-width: 35.5rem;
        width: 100%;
        &.paper {
          background-color: var(--primary-color);
        }
      }
    }
  }
  &__items-list {
    max-height: 50vh;
    overflow-y: scroll;
    scrollbar-width: none;
    // row-gap: 1rem;
    width: 100%;
    // max-width: 420px;
    // height: 100%;
    &.paper {
      background-color: var(--primary-color);
    }
  }
  &__description {
    // max-width: 400px;
    padding: 0.75rem 0.5rem;
    overflow-y: scroll;
    height: 100%;
    max-height: 26.25;
    scrollbar-width: none;
    &.paper {
      background-color: var(--primary-color);
    }
  }
  &__actions {
    margin: 1.4rem 0 1.2rem 0;
    width: 100%;
    @include flex(row, center, center);
    button {
      &:first-child {
        // margin: 0 0 0.75rem 0;
        margin: 0 0.75rem 0 0;
      }
    }
    // &.comment {
    //   @include flex(row, space-between, center);
    //   margin: 1.4rem 0 0;
    //   button {
    //     &:first-child {
    //       margin: initial;
    //     }
    //   }
    // }
    .btn-icon {
      margin: 0 0.5rem 0 0;
    }
  }
  &__secondary-content {
    // background-color: lightcoral;
  }
  // ------------------
  // ------------------
  &__option-container {
    // width: 100%;
    // background-color: var(--bg-card-primary);
    // padding: 0 1rem 0 1rem;
    // @include flex(row, flex-end, center); // ---
    @include flex(column, flex-start, center); // ---
    flex-wrap: wrap;
    .option-group {
      &.one {
        // @include flex(row, space-around, center); // ---
        // @include flex(row, center, center);
        @include flex(column, center, center);
        // flex-wrap: wrap;
        // margin: 0.75rem 0 0 0;
        .items {
          @include flex(row, space-around, center); // ---
          margin: 8px 0 8px 0;
          // margin: 0 0 0 16px;
          .select-menu {
            margin: 0 0 0 0.35rem;
            // color: var(--body-text);
          }
          .order-by-options {
            margin: 0 0 0 0.35rem;
            .option {
              cursor: pointer;
              // border: 1px solid #1976d2;
              border-radius: 3px;
              padding: 6px 8px;
              &.active {
                // color: white;
                background-color: var(--btn-primary-active-a-2);
                // border-color: #1976d2;
              }
            }
            .option:nth-child(2) {
              margin: 0 0 0 0.35rem;
            }
          }
          .search-input-group {
            position: relative;
            .search-btn {
              position: absolute;
              top:28%;
              right: 8px;
              font-size: 16px;
              border: 1px solid transparent;
              background-color: transparent;
              .btn-glass {
                // cursor: pointer;
                border: 1px solid transparent;
                background-color: transparent;
              }
            }
          }
        }
      }
      &.two {
        // @include flex(row, center, center); // ---
        @include flex(row, space-between, center); // ---
        margin: 0.25rem 0 0.25rem 0;
        flex-wrap: wrap;
        // background-color: firebrick;
        .items {
          .select-menu {
            // border: 1px dotted orangered;
            // div {
              // padding: 0.5 14px 0.5 14px;
            // }
          }
          .form-control {
            // background-color: chartreuse;
          }
          .input-label {
            // background-color: olivedrab;
          }
        }
        .item-count {
          margin: 0 0 0 10px;
        }
        // .item-group {
        //   padding: 0 20px 0 0;
        // }
      }
      &.three {
        margin: 8px 0 0 0;
        // background-color: darkblue;
        @include flex(row, center, center); // ---
      }
      .items {
        label {
          // color: var(--body-text);
        }
        div {
          svg {
            // color: var(--body-text);
          }
          fieldset {
            // border-color: var(--body-text);
          }
        }
      }
    }
  }
  // ------------------
  // ------------------
  &__roster {
    width: 100%;
    min-width: 820px;
    overflow-y: auto;
    // height: 70vh;
    .bottom-padding {
      margin: 0 0 3rem 0;
    }
  }
  &__roster-slide {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
  }
  &__roster-header {
    &.my-project {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      // grid-template-rows: repeat(2, 1fr);
      // border-bottom: 2px solid black;
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      width: 100%;
      // background-color: var(--bg-card-primary);
      min-width: 820px;
    }
    &.my-ticket {
      min-width: 820px;
      // background-color: var(--bg-card-primary);
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      // grid-template-rows: repeat(2, 1fr);
      padding: 0 0 8px 0;
      border-bottom: 2px solid black;
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      width: 100%;
      justify-items: center;
    }
  }
  &__roster-row {
    &.my-project {
      padding: 1rem 0;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      width: 100%;
    }
    &.my-ticket {
      background-color: var(--primary-color);
      padding: 1rem 0;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      width: 100%;
      justify-items: center;
    }
  }
  // &__roster-item-group {}
  &__roster-item {
    @include flex(column, flex-start, flex-start);
    text-align: center;
    white-space: break-spaces;
    word-break: break-word;
    .option-link {
      &:first-child {
        margin: 0 0 0.4rem 0;
      }
      a {
        color: var(--body-text-link);
        &:visited {
          color: var(--body-text-visited);
        }
      }
    }
    .github-icon {
      font-size: 1.75rem;
      color: var(--body-text);
    }
  }
}
// --------------------
// --------------------
// --------------------

@media (min-width: 244px) {
  .detail {
    // &__content {
    //   @include flex(row, space-evenly, flex-start);
    // }
    &__option-container {
      .option-group {
        &.two {
          .item-count {
            margin: 0 10px 0 0;
          }
        }
      }
    }
  }
}
@media (min-width: 272px) {
  .detail {
    // &__content {}
    &__option-container {
      .option-group {
        &.two {
          .item-count {
            margin: 0 20px 0 0;
          }
        }
      }
    }
  }
}
@media (min-width: 340px) {
  .detail {
    &__option-container {
      .option-group {
        &.two {
          width: 80%;
          margin: 0 auto;
        }
      }
    }
  }
}
// @media (min-width: 380px) {
//   .detail {
//     &__content {
//       // max-width: 680px;
//     }
//   }
// }
@media (min-width: 420px) {
  .detail {
    &__content {
      &.my-content {
        padding: 0 1rem 0.275rem;
      }
      // max-width: 680px;
    }
    // &__option-container {
    //   padding: 0 1rem 0 1rem;
    //   @include flex(row, flex-end, center);
    //   .option-group {
    //     &.one {
    //       margin: 0.75rem 0 0 0;
    //       @include flex(row, space-around, center);
    //       .items {
    //         margin: 0 0 0 16px;
    //       }
    //     }
    //     &.two {
    //       @include flex(row, center, center);
    //     }
    //     &.three {
    //       @include flex(row, center, center);
    //     }
    //   }
    // }
  }
}
@media (min-width: 442px) {
// @media (min-width: 500px) {
  .detail {
    &__option-container {
      .option-group {
        &.one {
          // @include flex(row, space-around, center);
          @include flex(row, center, center); // ---
          flex-wrap: wrap;
          margin: 0 0 10px 0;
          .items {
            margin: 10px 12px 0 0;
          }
          .detail__order-by {
            margin: 0;
          }
        }
        &.two {
          width: 80%;
          margin: 0 auto;
        }
      }
    }
  }
}
@media (min-width: 464px) {
  .detail {
    &__actions {
      button {
        &:first-child {
          // margin: initial;
          // margin: 0 0.75rem 0.75rem 0;
        }
      }
    }
  }
}
@media (min-width: 476px) {
  .detail {
    &__actions {
      button {
        &:first-child {
          // margin: initial;
          margin: 0 0.75rem 0 0;
        }
      }
    }
  }
}
@media (min-width: 542px) {
  .detail {
    // &__container {
    //   padding: 0 0 0 62px;
    // }
    &__option-container {
      .option-group {
        // &.one {}
        &.two {
          width: 68%;
          // .item-count {
          //   margin: 0;
          //   width: 100%;
          //   text-align: center;
          // }
        }
      }
    }
  }
}
@media (min-width: 560px) {
  .detail {
    &__container {
      padding: 0 0 0 62px;
    }
    &__content {
      &.project-page {
        @include flex(row, space-evenly, flex-start);
      }
      &.ticket-page {
        // @include flex(row, space-evenly, flex-start);
        @include flex(row, space-between, flex-start);
      }
      .left {
        max-width: 44%;
      }
      .right {
        // margin: 0 0 0 0.75rem; // ---
        &.project-detail {
          margin: 0 0 0 0.75rem; // ---
        }
        &.ticket-detail {
          margin: 0 0 0 0.75rem; // ---
        }
        .right-container {
          max-width: 35.5rem;
        }
      }
    }
  }
}
@media (min-width: 566px) {
  .detail {
    // &__container {
    //   padding: 0 0 0 62px;
    // }
    &__content {
      @include flex(row, space-between, flex-start);
    }
    &__option-container {
      .option-group {
        // &.one {}
        &.two {
          width: 70%;
        }
      }
    }
  }
}
// for comment modal & tickets details page
@media (min-width: 660px) {
// @media (min-width: 696px) { // ---
  .detail {
    &__content {
      @include flex(row, space-between, flex-start);
      .right {
        // margin: 0 0 0 0.75rem; // ---
      }
    }
  }
}
@media (min-width: 678px) {
  .detail {
    // &__container {
    //   padding: 0 0 0 62px;
    // }
    &__option-container {
      .option-group {
        // &.one {}
        &.two {
          // width: 68%;
          .item-count {
            margin: 0;
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}
@media (min-width: 820px) {
  .detail {
    &__content {
      // padding: 0 0 0 62px;
      margin: initial;
    }
    &__option-container {
      .option-group {
        // &.one {
        //   // @include flex(row, center, center);
        //   // flex-wrap: wrap;
        //   .items {
        //     margin: 0 10px 0 0;
        //     &:nth-child(4) {
        //       margin: 0;
        //     }
        //     // margin: 10px 12px 0 0;
        //   }
        //   .detail__order-by {
        //     // margin: 0;
        //   }
        // }
        &.two {
          width: initial;
          .item-count {
        //     margin: 0;
            width: initial;
            text-align: initial;
          }
        }
      }
    }
  }
}
@media (min-width: 830px) {
  .detail {
    // &__container {
    //   padding: 0 0 0 62px;
    // }
    &__option-container {
      .option-group {
        &.one {
          // @include flex(row, center, center);
          // flex-wrap: wrap;
          .items {
            margin: 0 10px 0 0;
            &:nth-child(4) {
              margin: 0;
            }
            // margin: 10px 12px 0 0;
          }
          .detail__order-by {
            // margin: 0;
          }
        }
        // &.two {
        //   width: initial;
        //   .item-count {
        // //     margin: 0;
        //     width: initial;
        //     text-align: initial;
        //   }
        // }
      }
    }
  }
}
@media (min-width: 840px) {
  .detail {
    &__container {
      // padding: 0 0 0 62px;
    }
    &__content {
      @include flex(row, space-evenly, flex-start);
      &.ticket-page {
        // @include flex(row, space-evenly, flex-start);
      }
      .left {
        // max-width: 44%;
      }
      .right {
        // margin: 0 0 0 0.75rem;
        .right-container {
          // max-width: 35.5rem;
        }
      }
    }
  }
}

/*
@media (min-width: 510px) {
  .detail {
    // &__content {
    //   &.my-content {
    //     padding: 0 1rem 0.275rem;
    //   }
    //   // max-width: 680px;
    // }
    &__option-container {
      padding: 0 1rem 0 1rem;
      @include flex(row, flex-end, center);
      .option-group {
        &.one {
          margin: 0.75rem 0 0 0;
          @include flex(row, space-around, center);
          .items {
            margin: 0 0 0 16px;
          }
        }
        &.two {
          @include flex(row, center, center);
        }
        &.three {
          @include flex(row, center, center);
        }
      }
    }
  }
}

@media (min-width: 660px) {
  .detail {
    &__content {
      // max-width: 680px;
    }
  }
}
@media (min-width: 720px) {
  .detail {
    &__content {
      // max-width: 680px;
    }
  }
}
@media (min-width: 960px) {
  .detail {
    &__content {
      // max-width: 820px;
    }
  }
}
@media (min-width: 1080px) {
  .detail {
    &__container {
      padding: initial;
    }
    &__content {
      @include flex(row, space-between, flex-start);
      margin: initial;
      // max-width: 960px;
      // max-width: 820px;
      // max-width: initial;
    }
  }
}
@media (min-width: 1300px) {
  .detail {
    &__header {
      margin: 0 auto;
    }
    &__sub-header {
      margin: 0 auto;
    }
    &__content {
      margin: 0 auto;
      max-width: 1280px;
    }
  }
}
@media (min-width: 1444px) {
  .detail {
    &__content {
      // margin: initial;
    }
  }
}
*/