.login {
  @include flex(row, center, center);
  width: 100%;
  height: 100%;
  // background-color: yellow;
  &__container {
    background-color: var(--bg-panel-a-2) !important;
    // opacity: 0.2;
    color: var(--body-text) !important;
    max-height: 80vh;
    &.signup {
      overflow-y: auto;
      -ms-overflow-style: scrollbar;
        /* Internet Explorer 10+ */
      scrollbar-width: thin;
      
      /* Firefox */
      &::-webkit-scrollbar {
        width: 6px;
        background-color: var(--scrollbar-line);
      }
  
      &::-webkit-scrollbar-thumb {
        // background-color: var(--scrollbar-line);
        border-radius: 20px;
        border: transparent;
      }
    }
  }
  &__form {}
  &__card {}
  &__form-group {
    margin: 0 0 0.85rem 0;
  }
  &__label {
    font-size: 0.75rem;
    // margin: 0 0.75rem 0 0;
  }
  &__input {
    width: 100%;
  }
  &__submit-btn {
    padding: 0 0.75rem;
    .main-login-btn {
      width: 100%;
    }
  }
  &__footer {
    // margin: 1rem 0 0 0;
    & > a {
      color: var(--body-text-link);
      &:visited {
        color: var(--body-text-visited);
      }
    }
  }
}


/* ORIGINAL LOGIN STYLINGS - No DELETE!!!

.login {
  @include flex(row, center, center);
  width: 100%;
  height: 100%;
  // background-color: yellow;
  &__container {
    background-color: var(--bg-panel) !important;
    color: var(--body-text) !important;
    max-height: 80vh;
    &.signup {
      overflow-y: auto;
      -ms-overflow-style: scrollbar;
        /* Internet Explorer 10+ /
        scrollbar-width: thin;
      
        /* Firefox /
        &::-webkit-scrollbar {
          width: 6px;
          background-color: var(--scrollbar-line);
        }
    
        &::-webkit-scrollbar-thumb {
          // background-color: var(--scrollbar-line);
          border-radius: 20px;
          border: transparent;
        }
      }
    }
    &__form {}
    &__card {}
    &__form-group {
      margin: 0 0 0.85rem 0;
    }
    &__label {
      font-size: 0.75rem;
      // margin: 0 0.75rem 0 0;
    }
    &__input {
      width: 100%;
    }
    &__submit-btn {
      padding: 0 0.75rem;
      .main-login-btn {
        width: 100%;
      }
    }
    &__footer {
      // margin: 1rem 0 0 0;
      & > a {
        color: var(--body-text-link);
        &:visited {
          color: var(--body-text-visited);
        }
      }
    }
  }
*/